<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid padding">
    <a class="navbar-brand" routerLink="/" href="#"
      ><img
        src="https://www.mistral.ba/m/t/mistral/dist/assets/images/mistral-trademark-black.svg"
        alt=""
        class="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown list-item border-end">
          <a
            class="nav-link text-dark"
            aria-current="page"
            href="#"
            routerLink="/applications"
            >Applications</a
          >
        </li>
        <li class="nav-item border-end list-item">
          <a class="nav-link text-dark" href="#" routerLink="/selections"
            >Selections</a
          >
        </li>
        <li class="nav-item border-end list-item">
          <a class="nav-link text-dark" href="#" routerLink="/users">Users</a>
        </li>
        <li class="nav-item border-end list-item">
          <button class="nav-link text-dark btn btn-link" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
