<div class="container col-xxl-10 px-4 py-5">
  <div class="row flex-column-reverse g-5 py-5">
    <div
      class="col-10 col-sm-8 col-lg-6 align-items-center w-100"
      data-aos="fade-left"
    >
      <img
        src="https://www.mistral.ba/m/u/2020/03/mistral-bg-video-cover.jpg"
        class="d-block mx-lg-auto img-fluid rounded"
        alt="Bootstrap Themes"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6 d-flex flex-column gap-3 w-100" data-aos="fade-right">
      <h1 class="display-6 fw-bold lh-2 mb-3">
        Selection and Interview process
      </h1>
      <p class="">
        You will receive a confirmation email as soon as you send in your
        application. Once we have a spot for you, we will give ou a call.JAP
        candidates go through the same selection process as other Mistral
        employees.This way, once you successfully complete the program, you have
        no additional interviews and procedures.
      </p>
      <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-dark btn-lg px-4 me-md-2 buttonRadius"
        >
          APPLY HERE
        </button>
      </div> -->
    </div>
  </div>
</div>
