<hr />
<div class="px-2 py-3 text-center">
  <div class="py-5">
    <h1 class="display-6 fw-bold">Get In Touch</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">
        You can subscribe to our newsletter to receive latest updates from us!
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form class="d-sm-flex gap-4">
          <input
            type="email"
            class="form-control mb-4 mb-sm-0"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email Address"
          />
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Full Name"
          />
          <button type="button" class="btn btn-dark btn-lg mt-3 mt-sm-0">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
