<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid padding">
    <a class="navbar-brand" routerLink="/" href="#"
      ><img
        src="https://www.mistral.ba/m/t/mistral/dist/assets/images/mistral-trademark-black.svg"
        alt=""
        class="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item border-end list-item">
          <a
            class="nav-link text-dark"
            aria-current="page"
            href="#"
            routerLink="/test"
            >Features</a
          >
        </li>
        <li class="nav-item border-end list-item">
          <a class="nav-link text-dark" href="#">About</a>
        </li>
        <li class="nav-item border-end list-item">
          <a class="nav-link text-dark" href="#">Contact</a>
        </li>
        <li class="nav-item list-item">
          <a class="nav-link text-dark" href="#" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
