<div class="container">
    <div class="row">
       
        <div class="col">
            <h1>Application form</h1>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">First name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Last name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Doe">
      </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class = "form-group"> Education level
        <div class="row">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">High school</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">Bachelor's degree/student</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                     <label class="custom-control-label" for="customRadio2">Master's degree/student</label>
                </div>
        </div>
    </div>     
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Cover letter</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">CV </label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
      <div class="text-center text-lg-start mt-4 pt-2">
        <button type="button" class="btn btn-primary btn-lg">Apply</button>
    
      </div>
      
  </form>
        </div>
    </div>
</div>
