<div class="container col-xxl-10 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6" data-aos="fade-left">
      <img
        src="https://www.mistral.ba/m/u/2020/04/mistral-photo1-glavna-slika.png"
        class="d-block mx-lg-auto img-fluid rounded"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6 d-flex flex-column gap-3" data-aos="fade-right">
      <h1 class="display-6 fw-bold lh-2 mb-3">
        Welcome to our Internship platform!
      </h1>
      <p class="">
        It's great to see you here! We're always on the lookout for brilliant
        people to join our ever-growing team. Opportunities for growth and
        personal development are waiting for you. Even if you don't think this
        is a fit for your skills, we'd love to hear from you, so feel free to
        apply.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          class="btn btn-dark btn-lg px-4 me-md-2 buttonRadius"
        >
          APPLY HERE
        </button>
      </div>
    </div>
  </div>
</div>
<hr />
