<app-dashboard-header></app-dashboard-header>
<div class="container">
    <div class="col mt-5 justify-content-center d-flex gap-5">
        <form #selectionsForm="ngForm" (ngSubmit)="onEditClicked(selectionsForm.value)" class="col-4">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input
                    type="text"
                    class="form-control w-100"
                    id="exampleformControlInput1"
                    name="selectionName"
                    ngModel
                    
                    />
                    
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Start Date</label>
                <input
                    type="date"
                    class="form-control w-100"
                    id="exampleformControlInput1"
                    name="selectionStartDate"
                    ngModel
                    
                    />
                    
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">End Date</label>
                <input
                    type="date"
                    class="form-control w-100"
                    id="exampleformControlInput1"
                    name="selectionEndDate"
                    ngModel
                    
                    />
                    
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Description</label>
                <input
                    type="text"
                    class="form-control w-100"
                    id="exampleformControlInput1"
                    name="selectionDescription"
                    ngModel
                    
                    />
                    
            </div>
            <div class="text-center text-lg-start">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
        </form>
    </div>
</div>