<footer class="text-center text-white" style="background-color: #f1f1f1">
  <div class="container pt-4 border">
    <div class="" id="">
      <ul class="d-flex justify-content-center">
        <li class="border-end list-item">
          <a
            class="nav-link text-dark"
            aria-current="page"
            href="#"
            routerLink="/test"
            >Features</a
          >
        </li>
        <li class="border-end list-item">
          <a class="nav-link text-dark" href="#">About</a>
        </li>
        <li class="border-end list-item">
          <a class="nav-link text-dark" href="#">Contact</a>
        </li>
        <li class="list-item">
          <a class="nav-link text-dark" href="#" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center text-dark p-3">
    © 2020 Copyright:
    <a class="text-dark" href="https://www.mistral.ba/">Mistral.ba</a>
  </div>
</footer>
